.w-\[70\%\] {
    width: 70%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.bg-\[\#fff\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-\[\#F1F2F6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(241 242 246 / var(--tw-bg-opacity));
}